/* Set base font size = 10px */

html {
  font-size: 62.5%;
}

html,
body {
  margin: 0;
  min-height: 100vh;
}

.header,
.section,
.body {
  padding-left: 30rem;
  padding-right: 30rem;
}

/* Header */

.header,
.one {
  background-color: #1f2937;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f9faf8;
  font-size: 2.4rem;
  height: 50px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.nav-container {
  display: flex;
}

ul {
  margin: 0;
  padding-left: 2rem;
}

.text {
  font-size: 1.8rem;
  color: #e5e7eb;
}

/* Section One */

.one {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.hero-main-text {
  color: #f9faf8;
  font-size: 4.8rem;
  font-weight: 900;
  margin-bottom: 2.5rem;
}

.button-full {
  background-color: #3882f6;
  color: white;
  padding: 0.5rem 2.5rem;
  border: 0px;
  border-radius: 5px;
  margin-top: 3rem;
}

.lake-img {
  max-height: 250px;
  padding-left: 3.5rem;
}

/* Section Two */

.two {
  padding-bottom: 10rem;
  background-color: white;
}

.main-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.info-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  color: #1f2937;
  font-size: 3.6rem;
  font-weight: 900;
}

.secondary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 175px;
}

.info-images {
  max-height: 150px;
  max-width: 150px;
  border: 3px solid #3882f6;
  border-radius: 15px;
}

.secondary-text {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.6rem;
  color: grey;
}

/* Section Three */

.three {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 10rem 50rem;
}

.quote-text {
  font-size: 3.6rem;
  font-style: italic;
  color: #1f2937;
  text-align: left;
}

.quote-signature {
  text-align: right;
  font-weight: bold;
  font-size: 1.8rem;
  padding: 1rem 3rem 0 0;
}
